@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    background: url(northern-forest.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

br {}


/*-----------------------------------TOP CONTAINER-------------------------------------*/

.topContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
}

.topImage {
    width: 4%;
    height: auto;
    padding-left: 1%;
    cursor: pointer;
}

.topContainer .topTitle {
    color: #4d7d1c;
    font-size: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: 200;
}


/*-----------------------------------TOP MENU - BUTTONS-------------------------------------*/

.topMenu {
    height: auto;
    width: 100%;
    background-color: #4d7d1c;
    display: flex;
    flex-direction: row;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    height: auto;
}

.btn-group button {
    background-color: #4d7d1c;
    border: 1px solid #4d7d1c;
    color: white;
    cursor: pointer;
    float: left;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 100%;
    height: auto;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #406818;
}

.fa-user {
    color: white;
    cursor: pointer;
}

.fa-user:hover {
    color: #406818;
}

.greetUser {
    color: white;
}


/*-----------------------------------LET'S GROW TAB-------------------------------------*/

.viewerForm {
    width: 65%;
    min-width: 300px;
    height: auto;
    position: absolute;
    color: white;
    left: 17%;
    background: rgba(192, 192, 192, 0.7);
    background-size: 100%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 6px;
    border: 2px solid #1B5E20;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4d7d1c;
    text-align: center;
    font-size: 150%;
    letter-spacing: 4px;
    font-weight: 400;
    text-decoration: underline;
}

.chooseDevice {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: #4d7d1c;
    font-weight: 300;
    letter-spacing: 1px;
}

.myDevicesDRPDWN {
    color: #4d7d1c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #4d7d1c;
    border-radius: 3px;
    width: auto;
    height: auto;
    font-size: 100%;
}

.myDevicesDRPDWN .dropbtn {
    border: none;
    outline: none;
    color: #4d7d1c;
    background-color: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flexbox;
}

.myDevicesDRPDWN:hover .dropbtn {
    background-color: #406818;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

.myDevicesDRPDWN-content {
    display: none;
    background-color: #4d7d1c;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myDevicesDRPDWN-content a {
    float: none;
    color: #4d7d1c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.circleTH {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    border-radius: 50%;
    border: 2px solid #4d7d1c;
    background-color: none;
    text-align: center;
}

.temphumidText {
    margin-top: 40%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.circleTank {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    border-radius: 50%;
    border: 2px solid #007DB8;
    background-color: none;
    text-align: center;
}

.waterTankText {
    margin-top: 40%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

.soilMoisture {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    border-radius: 50%;
    border: 2px solid #8E5B0C;
    background-color: none;
    text-align: center;
}

.soilMoistureText {
    margin-top: 40%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

.line {
    width: 65%;
    border-bottom: 2px solid #8E5B0C;
    margin-left: 30%;
}

.weekDays {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.weekDays button {
    background-color: #4d7d1c;
    border: 1px solid #4d7d1c;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 100%;
    width: 13.2%;
    min-width: 80px;
    height: auto;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.weekDays button:hover {
    background-color: #406818;
}

.slider {
    -webkit-appearance: none;
    width: 92.4%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4d7d1c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


/*-----------------------------------NEW DEVICE-------------------------------------*/

.newDevice {
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 2%;
    background: rgba(192, 192, 192, 0.7);
    padding: 3%;
    border-radius: 6px;
    padding-bottom: 4%;
    padding-top: 1%;
    border: 2px solid #4d7d1c;
}

.input {
    min-width: 150px;
    border: none;
    outline: none;
    background: none;
    color: #1B5E20;
    font-size: 100%;
    width: 35%;
    right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid#1B5E20;
}

::placeholder {
    color: #1B5E20;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}


/*-----------------------------------SETUP DEVICE-------------------------------------*/

.dataForm {
    width: 30%;
    min-width: 300px;
    height: auto;
    position: absolute;
    left: 30%;
    color: white;
    background: rgba(192, 192, 192, 0.7);
    padding: 3%;
    border-radius: 6px;
    padding-bottom: 4%;
    padding-top: 1%;
    border: 2px solid #4d7d1c;
    margin-top: 2%;
    overflow: hidden;
}

.buton {
    width: auto;
    border-radius: 3px;
    background: none;
    border: 2px solid #4d7d1c;
    color: #1B5E20;
    text-align: center;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 4%;
    margin-bottom: 2%;
}

.buton span {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    transition: 0.5s;
}

.buton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buton:hover span {
    padding-right: 25px;
    color: #000;
}

.buton:hover span:after {
    opacity: 1;
    right: 0;
}

.messageSettings {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 3000;
    margin-left: 10%;
}

.message {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
}

.flex-containerColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-containerRow {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    width: 25%;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}

.labelsFlex {
    background-color: #4d7d1c;
    border-radius: 3px;
    width: 50%;
    height: 10%;
    font-weight: 100px;
    letter-spacing: 3px;
    margin-right: 5%;
}

div.newPlant {
    bottom: 1%;
    position: absolute;
    background-color: #4d7d1c;
    border-radius: 50%;
    width: 4%;
    height: 0px;
    padding-bottom: 4%;
    left: 1%;
}

div.newPlant p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

div.newPlant:hover {
    cursor: pointer;
}

.plantViewer {
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 5px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.plantImage {
    max-width: 60%;
    max-height: 25%;
    border-radius: 5px;
    border: 2px solid #4d7d1c;
    background-color: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.IrrigationMode {
    height: 50%;
    width: 65%;
    position: absolute;
    left: 30%;
    bottom: 0px;
    border: 2px solid white;
    overflow: hidden;
}

.textHead {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4d7d1c;
    size: 100%;
    font-weight: 400;
    letter-spacing: 5px;
    float: left;
}