 @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
 body {
     margin: 0;
     padding: 0;
     background: url(northern-forest.jpg) no-repeat;
     height: 100%;
     background-size: cover;
     background-attachment: fixed;
 }
 
 .mainDiv {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .projectTitle {
     font-size: 300%;
     color: #1B5E20;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .login-box {
     width: auto;
     color: white;
     background: rgba(192, 192, 192, 0.7);
     padding: 15%;
     border-radius: 6px;
     border: 2px solid #1B5E20;
 }
 
 .login-box h1 {
     color: #1B5E20;
     border-bottom: 3px solid #1B5E20;
 }
 
 .textbox {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     overflow: hidden;
     font-size: 50%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-bottom: 10%;
 }
 
 .textbox i {
     width: 10%;
     float: left;
     text-align: start;
 }
 
 .textbox input {
     border: none;
     outline: none;
     background: none;
     color: #1B5E20;
     font-size: 175%;
     width: 80%;
     float: left;
     margin: 2%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-bottom: 2px solid#1B5E20;
 }
 
 .input-icons i {
     position: left;
 }
 
 .input-icons {
     width: 100%;
     margin-bottom: 0 2%;
 }
 
 .button {
     width: 100%;
     border-radius: 4px;
     background: none;
     border: 2px solid #1B5E20;
     color: #1B5E20;
     text-align: center;
     font-size: 100%;
     cursor: pointer;
     margin: 12px 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
 }
 
 .button span:after {
     content: '\00bb';
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
 }
 
 .button:hover span {
     padding-right: 25px;
 }
 
 .button:hover span:after {
     opacity: 1;
     right: 0;
 }
 
 .fa {
     color: #1B5E20;
     margin-right: 10%;
 }